/* Tailwind forms styles, manually scoped to #demo-tool */

[type="text"]:where(#demo-tool *),
input:where(:not([type])):where(#demo-tool *),
[type="email"]:where(#demo-tool *),
[type="url"]:where(#demo-tool *),
[type="password"]:where(#demo-tool *),
[type="number"]:where(#demo-tool *),
[type="date"]:where(#demo-tool *),
[type="datetime-local"]:where(#demo-tool *),
[type="month"]:where(#demo-tool *),
[type="search"]:where(#demo-tool *),
[type="tel"]:where(#demo-tool *),
[type="time"]:where(#demo-tool *),
[type="week"]:where(#demo-tool *),
[multiple]:where(#demo-tool *),
textarea:where(#demo-tool *),
select:where(#demo-tool *) {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: #fff;
  border-color: #6b7280;
  border-width: 1px;
  border-radius: 0px;
  padding-top: 0.5rem;
  padding-right: 0.75rem;
  padding-bottom: 0.5rem;
  padding-left: 0.75rem;
  font-size: 1rem;
  line-height: 1.5rem;
  --tw-shadow: 0 0 #0000;
}

[type="text"]:focus:where(#demo-tool *),
input:where(:not([type])):focus:where(#demo-tool *),
[type="email"]:focus:where(#demo-tool *),
[type="url"]:focus:where(#demo-tool *),
[type="password"]:focus:where(#demo-tool *),
[type="number"]:focus:where(#demo-tool *),
[type="date"]:focus:where(#demo-tool *),
[type="datetime-local"]:focus:where(#demo-tool *),
[type="month"]:focus:where(#demo-tool *),
[type="search"]:focus:where(#demo-tool *),
[type="tel"]:focus:where(#demo-tool *),
[type="time"]:focus:where(#demo-tool *),
[type="week"]:focus:where(#demo-tool *),
[multiple]:focus:where(#demo-tool *),
textarea:focus:where(#demo-tool *),
select:focus:where(#demo-tool *) {
  outline: 2px solid transparent;
  outline-offset: 2px;
  --tw-ring-inset: var(--tw-empty, /*!*/ /*!*/);
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: #2563eb;
  --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0
    var(--tw-ring-offset-width) var(--tw-ring-offset-color);
  --tw-ring-shadow: var(--tw-ring-inset) 0 0 0
    calc(1px + var(--tw-ring-offset-width)) var(--tw-ring-color);
  box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow),
    var(--tw-shadow);
  border-color: #2563eb;
}

input::-moz-placeholder:where(#demo-tool *),
textarea::-moz-placeholder:where(#demo-tool *) {
  color: #6b7280;
  opacity: 1;
}

input::placeholder:where(#demo-tool *),
textarea::placeholder:where(#demo-tool *) {
  color: #6b7280;
  opacity: 1;
}

::-webkit-datetime-edit-fields-wrapper:where(#demo-tool *) {
  padding: 0;
}

::-webkit-date-and-time-value:where(#demo-tool *) {
  min-height: 1.5em;
  text-align: inherit;
}

::-webkit-datetime-edit:where(#demo-tool *) {
  display: inline-flex;
}

::-webkit-datetime-edit:where(#demo-tool *),
::-webkit-datetime-edit-year-field:where(#demo-tool *),
::-webkit-datetime-edit-month-field:where(#demo-tool *),
::-webkit-datetime-edit-day-field:where(#demo-tool *),
::-webkit-datetime-edit-hour-field:where(#demo-tool *),
::-webkit-datetime-edit-minute-field:where(#demo-tool *),
::-webkit-datetime-edit-second-field:where(#demo-tool *),
::-webkit-datetime-edit-millisecond-field:where(#demo-tool *),
::-webkit-datetime-edit-meridiem-field:where(#demo-tool *) {
  padding-top: 0;
  padding-bottom: 0;
}

select:where(#demo-tool *) {
  background-image: url("data:image/svg+xml,%3csvg xmlns=%27http://www.w3.org/2000/svg%27 fill=%27none%27 viewBox=%270 0 20 20%27%3e%3cpath stroke=%27%236b7280%27 stroke-linecap=%27round%27 stroke-linejoin=%27round%27 stroke-width=%271.5%27 d=%27M6 8l4 4 4-4%27/%3e%3c/svg%3e");
  background-position: right 0.5rem center;
  background-repeat: no-repeat;
  background-size: 1.5em 1.5em;
  padding-right: 2.5rem;
  -webkit-print-color-adjust: exact;
  print-color-adjust: exact;
}

[multiple]:where(#demo-tool *),
[size]:where(select:not([size="1"])):where(#demo-tool *) {
  background-image: initial;
  background-position: initial;
  background-repeat: unset;
  background-size: initial;
  padding-right: 0.75rem;
  -webkit-print-color-adjust: unset;
  print-color-adjust: unset;
}

[type="checkbox"]:where(#demo-tool *),
[type="radio"]:where(#demo-tool *) {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding: 0;
  -webkit-print-color-adjust: exact;
  print-color-adjust: exact;
  display: inline-block;
  vertical-align: middle;
  background-origin: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  flex-shrink: 0;
  height: 1rem;
  width: 1rem;
  color: #2563eb;
  background-color: #fff;
  border-color: #6b7280;
  border-width: 1px;
  --tw-shadow: 0 0 #0000;
}

[type="checkbox"]:where(#demo-tool *) {
  border-radius: 0px;
}

[type="radio"]:where(#demo-tool *) {
  border-radius: 100%;
}

[type="checkbox"]:focus:where(#demo-tool *),
[type="radio"]:focus:where(#demo-tool *) {
  outline: 2px solid transparent;
  outline-offset: 2px;
  --tw-ring-inset: var(--tw-empty, /*!*/ /*!*/);
  --tw-ring-offset-width: 2px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: #2563eb;
  --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0
    var(--tw-ring-offset-width) var(--tw-ring-offset-color);
  --tw-ring-shadow: var(--tw-ring-inset) 0 0 0
    calc(2px + var(--tw-ring-offset-width)) var(--tw-ring-color);
  box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow),
    var(--tw-shadow);
}

[type="checkbox"]:checked:where(#demo-tool *),
[type="radio"]:checked:where(#demo-tool *) {
  border-color: transparent;
  background-color: currentColor;
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
}

[type="checkbox"]:checked:where(#demo-tool *) {
  background-image: url("data:image/svg+xml,%3csvg viewBox=%270 0 16 16%27 fill=%27white%27 xmlns=%27http://www.w3.org/2000/svg%27%3e%3cpath d=%27M12.207 4.793a1 1 0 010 1.414l-5 5a1 1 0 01-1.414 0l-2-2a1 1 0 011.414-1.414L6.5 9.086l4.293-4.293a1 1 0 011.414 0z%27/%3e%3c/svg%3e");
}

@media (forced-colors: active) {
  [type="checkbox"]:checked:where(#demo-tool *) {
    -webkit-appearance: auto;
    -moz-appearance: auto;
    appearance: auto;
  }
}
[type="radio"]:checked:where(#demo-tool *) {
  background-image: url("data:image/svg+xml,%3csvg viewBox=%270 0 16 16%27 fill=%27white%27 xmlns=%27http://www.w3.org/2000/svg%27%3e%3ccircle cx=%278%27 cy=%278%27 r=%273%27/%3e%3c/svg%3e");
}

@media (forced-colors: active) {
  [type="radio"]:checked:where(#demo-tool *) {
    -webkit-appearance: auto;
    -moz-appearance: auto;
    appearance: auto;
  }
}
[type="checkbox"]:checked:hover:where(#demo-tool *),
[type="checkbox"]:checked:focus:where(#demo-tool *),
[type="radio"]:checked:hover:where(#demo-tool *),
[type="radio"]:checked:focus:where(#demo-tool *) {
  border-color: transparent;
  background-color: currentColor;
}

[type="checkbox"]:indeterminate:where(#demo-tool *) {
  background-image: url("data:image/svg+xml,%3csvg xmlns=%27http://www.w3.org/2000/svg%27 fill=%27none%27 viewBox=%270 0 16 16%27%3e%3cpath stroke=%27white%27 stroke-linecap=%27round%27 stroke-linejoin=%27round%27 stroke-width=%272%27 d=%27M4 8h8%27/%3e%3c/svg%3e");
  border-color: transparent;
  background-color: currentColor;
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
}

@media (forced-colors: active) {
  [type="checkbox"]:indeterminate:where(#demo-tool *) {
    -webkit-appearance: auto;
    -moz-appearance: auto;
    appearance: auto;
  }
}
[type="checkbox"]:indeterminate:hover:where(#demo-tool *),
[type="checkbox"]:indeterminate:focus:where(#demo-tool *) {
  border-color: transparent;
  background-color: currentColor;
}

[type="file"]:where(#demo-tool *) {
  background: unset;
  border-color: inherit;
  border-width: 0;
  border-radius: 0;
  padding: 0;
  font-size: unset;
  line-height: inherit;
}

[type="file"]:focus:where(#demo-tool *) {
  outline: 1px solid ButtonText;
  outline: 1px auto -webkit-focus-ring-color;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
